
@media screen and (max-width: 768px) {
  body main {
    flex-direction: column-reverse;
    width: 100%;
    height: calc(100% - var(--menubar-height));
  }

  body .launcher {
    width: 100%;
    height: 4rem;
    flex-direction: row;
  }

  body .desktop {
    padding: 3rem 1rem;
  }

  body .desktop__content {
    flex-direction: column;
  }

  body .window {
    width: 100%;
  }
}