* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu variable", "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --terminal-bg-color: #1b1c1f;
  --menubar-bg-color: white;
  --menubar-text-color: #333;
  --window-appbar-bg-color: #242529;
  --text-color: #fff;
  --primary-color: #11c8d6;
  --secondary-color: #fe018f;
  --menubar-height: 1.8rem;
  --launcher-width: 4rem;
}

a {
  color: rgb(51, 111, 223);
}

body {
  overflow: hidden;
  height: 100vh;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.menubar {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .04);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: var(--menubar-height);
  color: var(--menubar-text-color);
}
.menubar:before {
  filter: opacity(.7);
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menubar-bg-color);
}


.launcher {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .05);
  width: var(--launcher-width);
  padding: .5rem;
  background-color: rgba(255, 255, 255, .1);
}

.launcher__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: .3rem;
  transition: all 20ms ease;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 8px;
}

.launcher__icon:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  width: min(100% - 2rem, 1500px);
  height: calc(100% - var(--menubar-height));
  margin: 0;
}

.desktop {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5rem 0;
  color: #fff;
}

.desktop__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.window {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 55%;
  height: 550px;
  transition: all 20ms ease;
  border: 1px solid #777c81;
  border-radius: 8px;
}

.window__appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background-color: var(--window-appbar-bg-color);
  cursor: move;
}

.window__appbar h3 {
  font-weight: 500;
}

.appbar-title {
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .3rem .5rem;
}

.appbar-options {
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-window-minimize {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/minimizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}

.btn-window-minimize:hover {
  background-color: rgba(255, 255, 255, .15);
}

.btn-window-close {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/closeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}
.btn-window-close:hover {
  background-color: rgba(255, 255, 255, .15);
}

.btn-window-size {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/maximizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}

.btn-window-size:hover {
  background-color: rgba(255, 255, 255, .15);
}

.window--maximized .btn-window-size {
  background-image: url(../img/resizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
}

.window--maximized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #343536;
  border-radius: 0;
}

.prompt-palpitation {
  border-left: 1px solid #fff;
  animation: palpitation 1.2s infinite linear;
}

@keyframes palpitation {
  0% {
    border-left: 1px solid #fff;
  }
  
  50% {
    border: none;
  }
}
