* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu variable", "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --terminal-bg-color: #1b1c1f;
  --terminal-text-color: #dfe2e7;
  --menubar-bg-color: #305e79;
  --menubar-text-color: white;
  --window-appbar-bg-color: #242529;
  --text-color: #fff;
  --primary-color: #11c8d6;
  --secondary-color: #fe018f;
  --menubar-height: 1.8rem;
  --launcher-width: 4rem;
}

.terminal p a {
  color: rgb(51, 111, 223);
}

body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(#305e79, #2b7b82);
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--menubar-height);
  color: var(--menubar-text-color);
  background-color: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 4px 16px -5px rgba(0, 0, 0, 0.1);
}

.menubar-buttons {
  /* TODO: Make it a button */
  height: 1rem;
  width: 1rem;
  margin: 0 .5rem;
}

.launcher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--launcher-width);
  padding: .5rem;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.launcher__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: .3rem;
  transition: all 20ms ease;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 8px;
}

.menu-launcher__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: .55rem;
  transition: all 30ms ease-in;
  cursor: pointer;
  border-radius: 8px;
}

.launcher__icon:hover,
.menu-launcher__icon:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  /* width: min(100% - 2rem, 1500px); */
  height: calc(100% - var(--menubar-height));
  margin: 0;
  animation: dotScroll 5s linear infinite;
  background-image: radial-gradient(circle, rgb(68 135 141 / 55%) 2px, transparent 0);
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: -60px 0;
}

@keyframes dotScroll {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 100px;
  }
}

.desktop {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5rem 0;
  color: #fff;
}

.desktop__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 55%;
  height: 550px;
  transition: all 20ms ease;
  box-shadow: 4px 4px 16px 1px rgba(0, 0, 0, .25);
  border: 1px solid rgb(169 188 190 /.1);
  border-radius: 8px;
}

.window__appbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  cursor: move;
}

.window__appbar:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(25px);
  background-color: var(--menubar-bg-color);
}

.window__appbar h3 {
  font-weight: 500;
}

.appbar-title {
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .3rem .5rem;
}

.appbar-options {
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-window-minimize {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/minimizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}

.btn-window-minimize:hover {
  background-color: rgba(255, 255, 255, .15);
}

.btn-window-close {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/closeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}

.btn-window-close:hover {
  background-color: rgba(255, 255, 255, .15);
}

.btn-window-size {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url(../img/maximizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
  border: none;
}

.btn-window-size:hover {
  background-color: rgba(255, 255, 255, .15);
}

.window--maximized .btn-window-size {
  background-image: url(../img/resizeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4rem;
}

.window--maximized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #343536;
  border-radius: 0;
  background: var(--menubar-bg-color);
}

.prompt-palpitation {
  border-left: 1px solid var(--terminal-text-color);
  animation: palpitation 1.2s infinite linear;
}

.user-host-name {
  display: flex;
}

@keyframes palpitation {
  0% {
    border-left: 1px solid var(--terminal-text-color);
  }

  50% {
    border: none;
  }
}
