@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-Regular.woff2g');
}

.terminal * {
  font-family: monospace, 'Courier New', Courier;
  color: var(--terminal-text-color);
  font-size: 1.2rem;
  font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.terminal {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: .5rem;
  background-color: var(--terminal-bg-color);
  background-image: radial-gradient(900px 1000px at 50% 0%, #272d2d 20%, rgba(19, 30, 49, 0) 100%);
  color: var(--text-color);
}

.user-host-name {
  color: var(--primary-color);
}

.path {
  color: var(--secondary-color);
}

.terminal__input {
  display: flex;
  align-items: start;
  opacity: 0; /* Al principio es 0, luego con JS se vuelve 1 */
}

.terminal__blank-space {
  height: 100%;
}

.terminal__input input {
  outline: none;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}