* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, 'Courier New', Courier;
  font-size: 1.5rem;
}

:root {
  --bg-color: #0b0d0c;
  --text-color: #fff;
  --primary-color: #11c8d6;
  --secondary-color: #fe018f;
}

body {
  height: 100vh;
}

.terminal {
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}
.user-host-name {
  color: var(--primary-color);
}
.path {
  color: var(--secondary-color);
}
.terminal__input {
  display: flex;
}
.terminal__input input {
  color: var(--text-color);
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
}